#title_heading{
    font-family: 'Kaushan Script', cursive;
    color: white;
}
#about_us{
    margin-top:15%;
}
#aboutUs_header{
font-family: 'Merriweather', serif;
font-weight: bold;
}
#footer_logo{
    font-family: 'Kaushan Script', cursive;
    color: white;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    font-size: 14px;
}
h1{
    color: white;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
p{
    color: white;
    font-size: 25px;
    margin: 20px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
        font-family: 'Merriweather', serif;
}
#header1{
    color: #424242;
    margin: 0px 0px 0px 20px;
    font-size: 35px;
    font-family: 'Merriweather', serif;
}
#header2{
    color: #424242;
    margin: 0px 0px 0px 20px;
    font-size: 35px;
    font-family: 'Merriweather', serif;
}
#header3{
    color: #424242;
    margin: 0px 0px 0px 20px;
    font-size: 35px;
    font-family: 'Merriweather', serif;
}
.content
{
    position:absolute;
    top: 63px;
    left:0px;
    right:0px;
    bottom:0px;
    overflow-y:scroll;
}
.container { position:relative; }
.container video {
    position:relative;
    z-index:0;
    opacity: 0.95;
}
.overlay {
    position:absolute;
    top:0;
    left:0;
    z-index:1;
    width: 100%
}
.navigation-links{
    font-size: 14px;
}
.gridSpacing{
    margin-top: 30px;
}
.top-margin{
    margin-top: 20px;
    color: #212121;
    font-family: 'Merriweather', serif;
    font-weight: bold;
}

#busy-text{
    color: #616161;
    font-size: 14px;
    font-family: 'Inconsolata', monospace;
}

#reddix-text{
    color: #01579B;
    font-size: 14px;
    font-family: 'Merriweather', serif;
}

#rely-text{
    color: #01579B;
    font-size: 14px;
    font-family: 'Merriweather', serif;
}
.reveal{

}