#title_heading{
    font-family: 'Kaushan Script', cursive;
    color: white;
}
#main_grid{

}

#about_us
{

}

.content
{
    position:absolute;
    top: 65px;
    left:0px;
    right:0px;
    bottom:0px;
    overflow-y:scroll;
}