#title_heading{
    font-family: 'Kaushan Script', cursive;
    color: white;
}
#about_us{
    margin-top:15%;
}
#footer_logo{
    font-family: 'Kaushan Script', cursive;
    color: white;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    font-size: 14px;
}
h1{
    color: white;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
p{
    color: white;
    font-size: 25px;
    margin: 20px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
#header1{
    color: white;
    margin: 0px 0px 0px 20px;
    font-size: 35px;
}
#header2{
    color: white;
    margin: 0px 0px 0px 20px;
    font-size: 35px;
}
#header3{
    color: white;
    margin: 0px 0px 0px 20px;
    font-size: 35px;
}
.content
{
    position:absolute;
    top: 65px;
    left:0px;
    right:0px;
    bottom:0px;
    overflow-y:scroll;
}
.container { position:relative; }
.container video {
    position:relative;
    z-index:0;
    opacity: 0.95;
}
.overlay {
    position:absolute;
    top:0;
    left:0;
    z-index:1;
    width: 100%
}
.navigation-links{
    font-size: 14px;
}
.gridSpacing{
    margin-top: 30px;
}